div{
  widht: 20px;
  font-size: 28px;
}
.blueback{
  background-color: lightblue;
}
.orangeback{
  background-color: orange;
}

.greenback{
  background-color: green;
}
.redback{
  background-color: red;
}
